<html>
    <head>
        <style>
            table{
                border:2px solid black;
                padding:1px;
            }
            th, 
            td{
                padding:10px;
                text-align:center;
                border:2px solid black;
            }
            body{
                border: 5px solid black;
                margin:10px;
            }
        </style>
    </head>
    <center>
    
        <div style="margin:20px 250px;border:3px solid black;">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRYaEHdIuHsvRR6QpLFzfsk1bl5cVi7IJLEWw&usqp=CAU"><br>
        <big><big><big><big><big><b>__SparksF Banking Services__</h1></big></big></big></big></big></b><br><br>
        </div>
        
        
    <br>
    <table>
        <tr>
            <td><b>Slno</b></td>
            <td><b>Sender</b></td>
            <td><b>Reciever</b></td>
            <td><b>Amount</b></td>
            <td><b>TimeStamp</b></td>
        </tr>
{% for i in history %}

        <tr>
            <td>{{i.id}}</td>
            <td>{{i.fromName}}</td>
            <td>{{i.toName}}</td>
            <td>{{i.amount}}</td>
            <td>{{i.date}}</td>
        </tr>
{% endfor %}
    </table>
</html>